{{define "title"}}Create a new snippet{{end}} {{define "main"}}
<form action="/snippet/create" method="post">
  <div>
    <label for="title">Title</label>
    {{with .Form.FieldErrors.title}}
    <label>{{.}}</label>
    {{end}}
    <input type="text" name="title" value="{{.Form.Title}}" />
  </div>
  <div>
    <label for="content">Content</label>
    {{with .Form.FieldErrors.content}}
    <label>{{.}}</label>
    {{end}}
    <textarea name="content">{{.Form.Content}}</textarea>
  </div>
  <fieldset>
    <legend>Delete in:</legend>
    {{with .Form.FieldErrors.expires}}
    <label>{{.}}</label>
    {{end}}
    <div>
      <input
        type="radio"
        name="expires"
        value="365"
        id="year"
        {{if
        (eq
        .Form.Expires
        365)}}checked{{end}}
      />
      <label for="year">One Year</label>
    </div>
    <div>
      <input
        type="radio"
        name="expires"
        value="7"
        id="week"
        {{if
        (eq
        .Form.Expires
        7)}}checked{{end}}
      />
      <label for="week">One Week</label>
    </div>
    <div>
      <input
        type="radio"
        name="expires"
        value="7"
        id="day"
        {{if
        (eq
        .Form.Expires
        1)}}checked{{end}}
      />
      <label for="day">One Day</label>
    </div>
  </fieldset>
  <div>
    <input type="submit" value="Publish Snippet" />
  </div>
</form>
{{end}}
