{{define "base"}}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <title>{{template "title" .}} - Snippetbox</title>
  </head>
  <body class="max-w-4xl w-full mx-auto p-6 bg-zinc-900 text-white">
    <header>
      <h1 class="text-3xl font-bold">
        <a href="/">Snippetbox</a>
      </h1>
    </header>
    {{template "nav" .}}
    <main>{{template "main" .}}</main>
    <footer>Powered by <a href="https://go.dev">Go</a></footer>
  </body>
</html>

{{end}}
