{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>{{template "title" .}} | Snippetbox</title>
    <style>
      :root {
        font-family: Inter, sans-serif;
        font-feature-settings:
          "liga" 1,
          "calt" 1;
        /* fix for Chrome */
      }

      @supports (font-variation-settings: normal) {
        :root {
          font-family: InterVariable, sans-serif;
        }
      }
    </style>
  </head>

  <body class="container">
    <header>
      <h1>
        <a href="/">Snippetbox</a>
      </h1>
      {{template "nav" .}}
    </header>
    <main>{{template "main" .}}</main>
    <footer>
      Powered by <a href="https://go.dev">Go</a> in {{.CurrentYear}}
    </footer>
  </body>
</html>
{{end}}
